* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden; /* Mencegah scroll di mobile */
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* Letterboxing color */
}

/* FIXED RESOLUTION DYNAMIC WIDTH (Base Height 720px) */
.game-container {
  position: relative;
  height: 720px;
  background-color: #000;
  overflow: hidden;
  transform-origin: center center;
  /* Transform scale dan width akan disuntikkan via React (JS) */
}

.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.hide-ui-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  cursor: pointer;
}

.cutscene-skip-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600; /* Di atas segalanya */
  cursor: pointer;
}
